
<!--<a href="http://google.com">search</a>-->

<div class="page-header-right">
	<small>Church for everyone.</small>
	 <h1>
	  	<%= link_to "Log in ", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Sign up ", new_user_registration_path, class: "btn btn-primary" %>
		<!--<small>Church for everyone</small>-->
	  	<p>
		</p>
	</h1>
</div>
