<h1>Clothes, Spray Paint, Internet, & Activism</h1>
<p><h2>Clothes <small>Any kind of clothes as our canvas</small></h2></br>
  <h2>Spray Paint <small>for a little bit of credibility</small></h2></br>
  <h2>Internet <small>post up copies of our work, similar works, rate clothes that you've bought, it's an online wall (write all over it!)</small></h2></br>
  <h2>Activism <small>we want everyone to be able to wear "this" brand. A symbol of humanity. Its strength is found in each and everyone of us.  Together we represent the rich, the poor, the young and old.<small></h2></br>
	
</p>

<address>
  <strong>If you have a concern or a question for us, let us know: </strong><br>
  <a href="mailto:#">email@contact.com</a>
</address>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>