<h1>About</h1>
<p>	We're here to make the church a better place. We are not alone! Person by person and maybe some help
	from Jesus, yes, Jesus, let all the walls come down! One wall for Jesus! :)
	For those who want to speak up, but cannot in the church, this is your place. Try to be nice!  Unless 
	the worship is really needing some encouragement, let's just say, when you write something let's try to keep the comments calm and respectful.</br>
	If you want to suggest a church that you like a lot, or want to vote for our "of the week" page, let us know. Email us and let us know.
</p>

<address>
  <strong>Thyworship </strong><br>
  PO BOX 1882	<br>
  WOODINVILLE, WA 98072<br>
  <abbr title="Phone">P:</abbr> (206) 830-0555
</address>

<address>
  <strong>Send Your Concerns To: </strong><br>
  <a href="mailto:#">thyworship@gmail.com</a>
</address>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          CHURCH OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Needs a picture of the building or congregation, programs that they do, pastor, a short review, search tips to look up what people are saying.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          PASTOR OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Picture some good words, search keys, recent messages: titles.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          PASTOR'S SPOUSE OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        Picture, what she/he does usually, how and why her/his congregation loves them.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          YOUTH PASTOR OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
        Years of service, congregation, what makes them different
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          WORSHIP TEAM OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
      <div class="panel-body">
        Church affiliation, members, how their different, concert schedule, style, testimony
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          WORSHIP LEADER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse in">
      <div class="panel-body">
        Name, church affiliated, style, picture
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          CHILDRENS MINISTRY OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse in">
      <div class="panel-body">
        pictures, church affiliation, staff that make it work, what are they doing differently
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          ELDER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        Church affiliated with, years of helping out the church, what they have done, picture
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          PEOPLE'S CHOICE: MEMBER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse in">
      <div class="panel-body">
      	Church affiliated with, a few words to bless this person from our editor
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          MISSION FIELD MANAGER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse in">
      <div class="panel-body">
        Where in the world, what they do, how long, what they are commited for, send us the money, we'll send it to them. For security purposes.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          BUSINESS OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse in">
      <div class="panel-body">
        Business owner, what they serve, what church the owner is affiliated to, SPONSORED!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
          RESTAURANT OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse in">
      <div class="panel-body">
        Business owner, what they serve, what church the owner is affiliated to, SPONSORED!
      </div>
    </div>
  </div>
</div>