<h1>Clothes, Spray Paint, Internet, & Activism</h1>
<p><h2>Clothes <small>Any kind of clothes as our canvas</small></h2>
  <h2>Spray Paint <small>for a little bit of credibility</small></h2>
  <h2>Internet <small>post up copies of our work, similar works, rate clothes that you've bought, it's an online wall (write all over it!)</small></h2>
  <h2>Activism <small>we want everyone to be able to wear "this" brand. A symbol of humanity. Its strength is found in each and everyone of us.  Together we represent the rich, the poor, the young and old.<small></h2>
	
</p></br>

<address><h4>
  <strong>If you have a concern or a question for us, let us know: </strong><br>
  <a href="mailto:#">email@contact.com</a></h4>
</address>

<img src="..." alt="..." class="img-rounded">
<img src="..." alt="..." class="img-circle">
<img src="..." alt="..." class="img-thumbnail">