<h1>Clothes, Spray Paint, Internet, & Activism</h1>
<p><h2>Clothes <small>our canvas</small></h2>
  <h2>Spray Paint <small>street cred</small></h2>
  <h2>Internet <small>we have the online wall (the homepage, write all over it!)</small></h2>
  <h2>Activism <small>the fashion brand that represents both the strong and the weak. Copy the logo onto your clothes (we don't mind), just don't try to sell too much of it :) <small></h2>
	
</p></br>

<address><h4>
  <strong>Concern, question or feedback? Let us know: </strong><br>
  <a href="mailto:#">email@contact.com</a></h4>
</address>


<img src="app/assets/images/bentley1.jpg" alt="Example Image" height="50" width="50">

<img src="..." alt="..." class="img-rounded">
<img src="..." alt="..." class="img-circle">
<img src="..." alt="..." class="img-thumbnail">