
<div class="panel panel-default">
	<div class="actions center">
		<h3><b>The Mayflower</b></h3>
		<b><h4>by Jueles Mayflower</h4></b>
		<h5>I used spray paint, stencils, and a shirt from a thrift shop.  This piece expresses a jailbreak.
		I am fascinated with institutional fashion.</br>  Women, children, men, rich and poor must choose and wear clothing from what are placed in stores.  This is a jailbreak from current</br>
		institutions of fashion.</h5>    


		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg" style="max-width:100%" alt="The Mayflower" height="350" width="300"/>

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT1Front2_zps8ee15ca5.jpg" style="max-width:100%" alt="The Mayflower Tee Front" height="350" width="500"/>
		<br><br>
		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT11-Version2_zpsdd5389a2.jpg" style="max-width:100%" alt="The Mayflower Tee Back" height="350" width="500"/>
	</div>
</div>
</br>


<div class="panel panel-default">
	<div class="actions center">
		<h3><b>The Mayflower</b></h3>
		<b><h4>by Jueles Mayflower</h4></b>
		<h5>Spray paint, paint pens, stencils, and a gray women's cartigan from a thrift shop.  I have loved pointalisms since I was a child.  I loved how something could be created from such small particles or small dots.  It is my pointalism.  The Pointalism by Mayflower.</h5>    

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMCartiganGrayWomensFront2_zpsdc39dade.jpg" style="max-width:100%" alt="Paint Pocket" height="350" width="300"/>

	</div>
</div>
